# ignore all
*

# readme
!README.md

# license
!LICENSE.txt

# bash
!.bash*
.bash_history
.bash_local
.bash_logout
!.bash_profile
!.bashrc

# git
!.gitattributes
!.gitignore
!**/.git/*

# profile
!.profile

# ssh
!.ssh/config

# vim
*.swp
!.vimrc
!.vim/*
.vim/.netrwhist
.vim/plugged

# config
!.config
!.config/autostart
!.config/autostart/*
!.config/awesome
!.config/awesome/*
!.config/bash
!.config/bash/*
.config/bash/shortcuts
!.config/bookmarks
!.config/bookmarks/*
!.config/dunst
!.config/dunst/*
!.config/git
!.config/git/*
!.config/gtk-*
!.config/gtk-*/*
!.config/i3
!.config/i3/*
!.config/i3/*/*
!.config/ideavim
!.config/ideavim/*
!.config/intellij-idea
!.config/intellij-idea/idea.properties
!.config/intellij-idea/idea64.vmoptions
!.config/mako
!.config/mako/*
!.config/mpv
!.config/mpv/*
!.config/mutt
!.config/mutt/*
!.config/neofetch
!.config/neofetch/*
!.config/nnn
!.config/nnn/*
.config/nnn/.history*
.config/nnn/.lastd*
.config/nnn/.selection
.config/nnn/.lastd
!.config/nnn/*/*
!.config/npm
!.config/npm/*
!.config/nvim
!.config/nvim/*
!.config/nvim/ftplugin
!.config/nvim/ftplugin/**
!.config/nvim/lua
!.config/nvim/lua/**
.config/nvim/.netrwhist
.config/nvim/autoload
!.config/openbox
!.config/openbox/*
!.config/openbox/*/*
!.config/pnmixer
!.config/pnmixer/*
!.config/ranger
!.config/ranger/*
.config/ranger/shortcuts.conf
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
!.config/readline
!.config/readline/*
!.config/rtorrent
!.config/rtorrent/rtorrent.rc
!.config/spectrwm
!.config/spectrwm/*
!.config/sway
!.config/sway/*
!.config/sway/*/*
!.config/sxhkd
!.config/sxhkd/*
!.config/sxiv
!.config/sxiv/*
!.config/sxiv/*/*
!.config/systemd
!.config/systemd/*
!.config/systemd/user
!.config/systemd/user/*
!.config/touchegg
!.config/touchegg/touchegg.conf
!.config/tint2
!.config/tint2/*
!.config/tmux
!.config/tmux/*
.config/tint2/tint2rc.backup.*
!.config/X11
!.config/X11/*
!.config/zathura
!.config/zathura/*
!.config/zsh
!.config/zsh/*
.config/zsh/.zcompdump
!.config/libinput-gestures.conf
!.config/mimeapps.list

# local
!.local

# assets
!.local/assets
!.local/assets/*

# binary files
!.local/bin
!.local/bin/.gitkeep
!.local/bin/install.sh

# scripts
!.local/scripts
!.local/scripts/*
.local/scripts/kps
.local/scripts/opc
.local/scripts/scr
